@font-face {
    font-family: "SecretST";
    src: url('../../assets/secretst-webfont.woff2') format('woff2'),
         url('../../assets/secretst-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Durango';
    src: url('../../assets/durango_western_eroded_demo.woff2') format('woff2'),
         url('../../assets/durango_western_eroded_demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('../../assets/paper.png') ;
}

h1,h2,h3 {
    font-family: "SecretST";
    font-weight: normal;
    text-decoration: underline;
    color: #444;
}

body {
    color: #444;
    font-family: 'Courier New', Courier, monospace
}

@mixin card() {
    border: 1px dotted #999;
    background-color: #F6F6F6;
}

html, body, #app {
    height: 99%;
    font-size: 1em;
}

.dicecode-container {
    text-align: left;
    display: inline;

    padding-left: 0.2em;

    label.untrained {
        margin-left: 0.4em;
    }

    .dicecode-tn {
        width: 15em;
    }

}


.copypasta {
    &.inline {
        font-family: SecretST;
        font-size: 1.1em;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 10em;
        text-align: right;
    }
    &.hidden {
        position: absolute;
        top: -666px;
        left: -666px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &.opened {
        display: block;
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.character-sheet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .traits {
        flex: 1;
        margin-left: 1rem;
        margin-right: 3rem;
        .trait {
            list-style: none;
            margin-bottom: 1rem;
            margin-left: -1em;
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
            flex-direction: row;
            columns: 2;
            width: 20rem;

            .trait-name {
                flex: 1;
            }

            .trait-dice {
                flex: 0 0 6em;
                text-align: right;
            }
            .aptitudes {
                list-style: none;
                margin-left: -1em;
                width: 19rem;

                .concentrations {
                    list-style: none;
                    margin-left: -1em;
                    width: 17rem;
                }

                .pure-aptitude {
                    display: flex;
                    .name {
                        flex: 1;
                    }
                    .value {
                        text-align: right;
                        flex: 0 0 5em;
                    }
                }
            }
        }
    }
    .effects {
        flex: 0 0 400px;
        text-align: center;
        padding-top: 1rem;
        .info {
            @include card();
            overflow: auto;
            text-align: left;
            padding: 0 2rem 1rem 2rem;
            img {
                margin-left: 1rem;
                float: right;
                border: 2px solid #444; 
            }
            margin-bottom: 3rem;
        }
    }

    .spells {
        flex: 2;
        text-align: center;
        margin-left: 3em;
        margin-right: 1em;
        height: 100%;
        overflow: auto;
        display: block;

        .spell-dice {
            margin-right: 0.5em;
        }

        .effects-section {
            margin-bottom: 2em;
            .effect {
                &:first-of-type {
                    border-top: 1px dotted #666;
                }
                text-align: left;
                border-bottom: 1px dotted #666;
                padding: 0.7rem 0 0.5rem 0;

                .toggle-desc {
                    float: right;
                    font-size: 0.7rem;
                    margin-top: -5px;
                }

                .name {
                    font-weight: bold;
                }

                .short-desc {
                    font-size: 0.8em;
                }

                .effect-desc {
                    font-size: 0.9em;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 0.1rem;
                }

                .spell-form {
                    margin-bottom: 0.5em;
                    button {
                        margin-right: 0.5rem;
                    }
                    .active-rounds {
                        font-size: 0.8em;
                        color: green;
                    }
                }
            }
        }
    }
}


@mixin wound-tracker($image) {
    background-image: url($image);
    width: 20rem;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin wound-overlay() {
    position: absolute;
    top: 0;
    bottom: 0;
}

.wounds-tracker {
    @include card();
    padding-bottom: 1em;

    .physical-deets {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .damage-input {
        width: 3em;
    }

    .wounds-container {
        width: 20rem;
        height: 20rem;
        padding: 0 2em;
        margin: auto;


        .dead {
            @include wound-tracker("../../assets/death.svg");
            margin: auto;
            position: relative;
        }

        .wounds {
            @include wound-tracker("../../assets/human-guidelines.png");
            margin: auto;
            position: relative;

            .head {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/head-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/head-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/head-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/head-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/head-maimed.png");
                }
            }
            .torso {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/torso-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/torso-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/torso-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/torso-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/torso-maimed.png");
                }
            }
            .larm {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/larm-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/larm-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/larm-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/larm-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/larm-maimed.png");
                }
            }
            .rarm {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/rarm-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/rarm-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/rarm-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/rarm-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/rarm-maimed.png");
                }
            }
            .lleg {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/legg-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/legg-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/legg-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/legg-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/legg-maimed.png");
                }
            }
            .rleg {
                @include wound-overlay();
                &.light{
                    @include wound-tracker("../../assets/rleg-light.png");
                }
                &.heavy{
                    @include wound-tracker("../../assets/rleg-heavy.png");
                }
                &.serious{
                    @include wound-tracker("../../assets/rleg-serious.png");
                }
                &.critical{
                    @include wound-tracker("../../assets/rleg-critical.png");
                }
                &.maimed{
                    @include wound-tracker("../../assets/rleg-maimed.png");
                }
            }
        }
    }
}